* {
  box-sizing: border-box;
}

body {

  background: #222a2f;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  font-family: 
    system-ui,
    -apple-system, 
    BlinkMacSystemFont, 
    'Segoe UI', 
    Roboto, 
    Oxygen, 
    Ubuntu, 
    Cantarell, 
    'Open Sans', 
    'Helvetica Neue', 
    sans-serif;
  color: white;
}

footer {
  text-align: center;
  color: #323d44;
  padding: 0 0 30px;
}

hr
{
  color: #eda916;
  margin-top: 25px;
  margin-bottom: 25px;
}

h1 {	
  color:#eda916;
  text-align: start;
  font-size: 2em;
}

 h2 {	
  color:#eda916;
  text-align: start;
  font-size: 1.75em;
}

h3 {	
  color:#eda916;
  text-align: start;
  font-size: 1.5em;
}

h4{
  color: #eda916;
  text-align: start;
	font-size: 1.2em
}

h5{
  color: #ffffff;
  text-align: start;
	font-size: 0.85em
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color:#e7b64c;
}

b {
  color:#e7b64c
}

.container {
  max-width: 1000px;
  padding: 0 20px;
  margin: auto;
  margin-bottom: 50px;
}

/* NAV */

.header
{
  margin-top: 10px;
  display: flex;
  margin-bottom: 15px;
  /*background-color: #2a3339;
  border-radius: 8px;*/
}

.nav {
  height: 50px;
  width: 100%;
}

.nav > .nav-links {
  float: right;
  font-size: 18px;
  border-radius: 8px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 10px 5px;
  text-decoration: none;
  color: #efefef;
  position: relative;
}

.nav > .nav-links > a:hover {
  color:#e7b64c;
}

.nav > .nav-links > a.active {
  font-weight: bold;
}

.nav > .nav-links > a.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color:#97adb6;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.nav > #nav-check {
  display: none;
}

/*  PROFILE */

.profile-data {
  color: white;
}

.profile-data h5 
{
  color: #eda916;
	font-size: 1.4em;
  margin: 0px;
  padding-bottom: 12px;
  padding-top: 12px;
}

.profile-content {
  display: flex;
  align-items: start;
  color: white;
  width: 100%;
}

.profile-content .profile-pic {  
  max-width: 85px;
  max-height: 85px;
  object-fit: cover;
  border-radius: 8px;
  padding: auto;
  margin: 15px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}

.profile-content .profile-pic:hover {
  transform: scale(1.05);
}

.icon-buttons
{
  display: flex;
}

.icon-button
{
  height: 45px;
  margin: 5px;
  transition: transform 0.2s;
}

.icon-button:hover {
  transform: scale(1.05);
}

.icon-button img {
  filter: invert(95%) sepia(71%) saturate(1410%) hue-rotate(315deg) brightness(94%) contrast(92%);
}

/* SKILLS */

.skill-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.skill-tag {
  display: inline-flex;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
  background: #97adb6;
  border-radius: 50px;
  padding: 5px 10px;
  margin: 10px 5px;
  font-size: 0.8em;
  max-height: 35px;
}

.skill-tag img {
  max-width: 25px;
  max-height: 25px;
  object-fit: contain; /* Keeps aspect ratio and ensures full visibility */
  display: block; /* Removes extra spacing issues */
  margin-right: 5px;
}


.skill-tag p {
  white-space: nowrap;
  margin-right: 5px;
}

.citation
{
  text-align: center;
  width: 100%;
  font-size: 1.3em;
  background-color:#2a3339;
  font-style: italic;
  padding: 10px;
  border-radius: 8px;
  margin: 15px 0px;
}


/* CARDS */

.cards {
  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 30px;
}

.cards img {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.cards-item {
  min-width: 300px;
}

.card {
  background:#ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 10px 20px #00000080;
}

.card img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 200px;
  object-fit: cover;
  object-position: 50% 50%;
}

.card-content {
  padding: 0 20px 20px;
}

.card-content img { 
	max-height: 32px;
	width: auto;
	height: auto;
  margin-top: 25px;
}

.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
	font-size: 1em;
}

.card-text > p {
  color:#222a2f;
  margin: 0;
}

.card-buttons
{
  display: flex;
  gap: 5px;;
}

.button {
  display: block;
  align-items: center;
  text-align: center;
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  background:#e7b64c;
  border-radius: 50px;
  padding: 5px 10px;
  font-size: 1em;
  max-height: 35px;
  margin-top: 15px;
}

.button:focus,
.button:hover {
  color: #eef6ff;
  background: #e7b64c;
}

/* MEDIA QUERRIES */

@media (min-width: 500px) {
  .cards-item {
    width: 100%;
  } 

  .container
  {
    max-width: 420px;
  }
}

@media (min-width: 720px) {
  .cards {
    grid-template-columns: repeat(2, auto);
  }

  .container
  {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .container
  {
    max-width: 1000px;
  }
}